body{
  margin: 0;
}
header{
  display: flex;
  background-color: azure;
  justify-content: space-between;
}

h1{
  width: 60%;
}

h1 a {
  text-decoration: none;
  color: black;
}

nav{
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

li a{
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

.headHove:hover{
  color: rgb(33, 33, 184);
}